html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,li {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
video {
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

/**/

body{
	background-color: black;
}

img{
	height: auto;
	width: 100%;
	opacity:0.1;
}

.intro{
	display: block;
	position: fixed;
	top: 47%;
	left: 44%;
	z-index:5000 !important;
}

.introlayer{
	z-index:5000 !important;
}

.instruction{
	display:none;
	position: fixed;
	top: 45%;
	left: 38%;
	z-index:5000 !important;
}

#instructiontext{
	font-size: 15px;
	color:white;
}

p{ /*작업제목, 설명이 포함되어있음*/
	font-family: sans-serif;
	color: white;
	text-align: center;
	color: #95A5A6;

}

span{
	position:fixed;
	bottom: 10px;
	left: 10px;
	font-family: san-serif;
	font-weight: bold; 
	font-size: 45px;
	color:white;
	background-color: black;
}

#introtext{ /*시작할 때 뜨는 텍스트*/
	display: flex;
	justify-content: center;
	align-items:center;
	font-size: 15px;
	padding-top: 10px;
	padding-left: 20px;
}

#infobutton{ /*클릭하면 작업제목과 설명이 나오는 버튼*/
	display: none;
	position: fixed;
	bottom: 10px;
	right: 20px;
	width: 35px !important;
	height: 35px !important;
	opacity:1 !important;
	z-index:5000 !important;
	cursor: pointer;
}

.contents { 
	display: flex;
	flex-wrap: wrap;
	padding:0;
}

.contents li {
	display: flex;
  	justify-content: flex-end;
  	align-items: flex-start;
  	position: relative;
	padding:0;
	z-index: 0;
}

	.notclicked{
	}

	.clicked1{
		opacity: 0.5;
	}

	.clicked2{
		opacity: 0.75;
	}

	.clicked3{
		opacity: 1;
		cursor: zoom-in;
	}

	.bigger{
		margin: auto;
		width:81% !important;
	}

.biggercontents{
	display:none;
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: black;
	cursor: zoom-out;

}

.biggercontents img{
	opacity:1 !important;
	width: 81%;
}

#san001bigger{
	display:none;
}

#san002bigger{
	display:none;
}

#san003bigger{
	display:none;
}

#san004bigger{
	display:none;
}

#san005bigger{
	display:none;
}

#furiosa001bigger{
	display:none;
}

#furiosa002bigger{
	display:none;
}

#furiosa003bigger{
	display:none;
}

#furiosa004bigger{
	display:none;
}

#furiosa005bigger{
	display:none;
}

#furiosa006bigger{
	display:none;
}

#abby001bigger{
	display:none;
}

#abby002bigger{
	display:none;
}

#abby003bigger{
	display:none;
}

#katniss001bigger{
	display:none;
}

#katniss002bigger{
	display:none;
}

#katniss003bigger{
	display:none;
}

#katniss004bigger{
	display:none;
}

#katniss005bigger{
	display:none;
}

#katniss006bigger{
	display:none;
}

#nausicaa001bigger{
	display:none;
}

#nausicaa002bigger{
	display:none;
}

#nausicaa003bigger{
	display:none;
}

#nausicaa004bigger{
	display:none;
}

#nausicaa005bigger{
	display:none;
}

#nausicaa006bigger{
	display:none;
}

#nausicaa007bigger{
	display:none;
}

#wasp001bigger{
	display:none;
}

#wasp002bigger{
	display:none;
}

#wasp003bigger{
	display:none;
}

#wasp004bigger{
	display:none;
}

#marvel001bigger{/*캡틴마블*/
	display:none;
}

#marvel002bigger{
	display:none;
}

#marvel003bigger{
	display:none;
}

#marvel004bigger{
	display:none;
}

#marvel005bigger{
	display:none;
}

#eleven001bigger{
	display:none;
}

#eleven002bigger{
	display:none;
}

#eleven003bigger{
	display:none;
}

#eleven004bigger{
	display:none;
}

#eleven005bigger{
	display:none;
}

#helen001bigger{
	display: none;
}

#helen002bigger{
	display: none;
}

#helen003bigger{
	display: none;
}

#helen004bigger{
	display: none;
}

#ladybird001bigger{
	display:none;
}

#ladybird002bigger{
	display:none;
}

#ladybird003bigger{
	display:none;
}

#ladybird004bigger{
	display:none;
}

#laura001bigger{
	display:none;
}

#laura002bigger{
	display:none;
}

#laura003bigger{
	display:none;
}

#laura004bigger{
	display:none;
}

#laura005bigger{
	display:none;
}

#laura006bigger{
	display:none;
}

#rey001bigger{
	display:none;
}

#rey002bigger{
	display:none;
}

#rey003bigger{
	display:none;
}

#rey004bigger{
	display:none;
}

#rey005bigger{
	display:none;
}

#rey006bigger{
	display:none;
}

#rey007bigger{
	display:none;
}

#rey008bigger{
	display:none;
}

#ghost001bigger{
	display:none;
}

#ghost002bigger{
	display:none;
}

#ghost003bigger{
	display:none;
}

#roma001bigger{
	display:none;
}

#roma002bigger{
	display:none;
}

#roma003bigger{
	display:none;
}

#roma004bigger{
	display:none;
}

#spy001bigger{
	display:none;
}

#spy002bigger{
	display:none;
}

#spy003bigger{
	display:none;
}

#heat001bigger{
	display:none;
}

#heat002bigger{
	display:none;
}

#shannon001bigger{
	display:none;
}

#jyn001bigger{
	display:none;
}

#jyn002bigger{
	display:none;
}

#jyn003bigger{
	display:none;
}

#jyn004bigger{
	display:none;
}

#jyn005bigger{
	display:none;
}

#jyn006bigger{
	display:none;
}

#jyn007bigger{
	display:none;
}

#jyn008bigger{
	display:none;
}

#ebosi001bigger{
	display:none;
}

#ebosi002bigger{
	display:none;
}

#ebosi003bigger{
	display:none;
}

#ebosi004bigger{
	display:none;
}


@media screen and (min-width: 300px){
	.contents li{
		width:33%;
	}
}

@media screen and (min-width: 600px){
	.contents li{
		width:25%;
	}
}

@media screen and (min-width: 800px){
	.contents li{
		width: 25%;
	}
}

@media screen and (min-width: 1200px){
	.contents li{
		width: 20% ;
	}
}
