html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,li {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
video {
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

/**/

body{
	background-color: black;
}

img{
	height: auto;
	max-width: 100%;
	opacity:0.13;
	cursor:pointer;
}

.info{
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
}

.infolayer{
	position: fixed;
	background-color: black;
	opacity: 0.5;
	z-index:5000 !important;
}

.topbar{ /*상단바*/
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height: 50px;
	z-index:5000 !important;
}

p{ /*작업제목, 설명이 포함되어있음*/
	font-family: 'Noto Sans KR', sans-serif;
	color: white;
	text-align: center;
}

#powersearch{ /*작업제목*/
	display: flex;
	justify-content: center;
	align-items:center;
	font-size: 20px;
	padding-top: 10px;
	padding-left: 20px;
}

#about{ /*설명*/
	display: flex;
	justify-content: center;
	align-items:center;
	font-size: 15px;
	padding-top: 10px;
	padding-left: 20px;
}

#infobutton{ /*클릭하면 작업제목과 설명이 나오는 버튼*/
	position: fixed;
	top: 10px;
	right: 20px;
	width: 35px !important;
	height: 35px !important;
	opacity:1 !important;
}

.contents { 
	display: flex;
	flex-wrap: wrap;
	font-size:0;
	padding:0;
}

.contents li {
	display: flex;
  	justify-content: flex-end;
  	align-items: flex-end;
  	position: relative;
	padding: 0;
}

.clicked1{
	opacity: 0.4;
}

.clicked2{
	opacity: 0.7;
}

.clicked3{
	opacity: 1;
	cursor: zoom-in;
}

.bigger{
	width:100% !important;
}

.zoomout{
	opacity: 1;
	cursor: zoom-out;
}

@media screen and (min-width: 300px){
	.contents li{
		width:33%;
	}
}

@media screen and (min-width: 600px){
	.contents li{
		width:25%;
	}
}

@media screen and (min-width: 800px){
	.contents li{
		width: 25%;
	}
}

@media screen and (min-width: 1200px){
	.contents li{
		width: 20% ;
	}
}
